* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #0f0f0f;
    color: white;
}


.hero {
    height: 100 vh;
    background: url('https://images.unsplash.com/photo-1517836357463-d25dfeac3438?q=80&w=1000') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

nav {
    position: absolute;
    top: 0; width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
    z-index: 10;
}

.logo { font-size: 1.8rem; font-weight: 900; color: #ff3e3e; }

nav ul { display: flex; list-style: none; }
nav ul li a { color: white; text-decoration: none; margin-left: 30px; font-weight: 700; transition: 0.3s; }
nav ul li a:hover { color: #ff3e3e; }

.hero-content {
    position: relative;
    z-index: 5;
    padding: 0 10%;
}

.hero-content h1 { font-size: 3.5rem; line-height: 1; margin-bottom: 20px; }
.hero-content span { color: #ff3e3e; }
.hero-content p { font-size: 1.2rem; max-width: 600px; margin-bottom: 30px; }

.btn-main {
    padding: 15px 40px;
    background: #ff3e3e;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-main:hover { background: #cc3131; }


.modalidades { padding: 50px 10%; }

.card {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    gap: 40px;
}

.reverse { flex-direction: row-reverse; }

.card-image { flex: 1; }
.card-image img {
    width: 100%;
    border-radius: 15px;
    filter: grayscale(50%);
    transition: 0.5s;
}
.card-image img:hover { filter: grayscale(0%); transform: scale(1.02); }

.card-text { flex: 1; }
.card-text h2 { font-size: 2.5rem; color: #ff3e3e; margin-bottom: 20px; }
.card-text p { font-size: 1.1rem; line-height: 1.6; color: #ccc; }
.incentivo {
    display: block;
    margin-top: 20px;
    font-style: italic;
    color: #ff3e3e;
    font-weight: bold;
}


footer {
    text-align: center;
    padding: 40px;
    background: #000;
    border-top: 2px solid #ff3e3e;
}


@media (max-width: 768px) {
    .card, .reverse { flex-direction: column; text-align: center; }
    .hero-content h1 { font-size: 2.2rem; }
    nav ul { display: none; }
}
